{% set servers = {} %}
{% if discovered_registries is defined and discovered_registries | length > 0 %}
{% for server in discovered_registries %}
{% set server_id = server.name.split('.')[-1] if '.' in server.name else server.name %}
{% set server_data = {
    "type": server.type,
    "path": server.path,
    "args": server.args | default([])
} %}
{% if server.package is defined %}
{% set _ = server_data.update({"package": server.package}) %}
{% endif %}
{% if server.description is defined %}
{% set _ = server_data.update({"description": server.description}) %}
{% endif %}
{% set _ = servers.update({server_id: server_data}) %}
{% endfor %}
{% endif %}
{{ servers | to_nice_json(indent=4) }}
