---
version: 3

images:
  base_image:
    name: registry.redhat.io/ansible-automation-platform-25/ee-minimal-rhel9:latest
dependencies:
  galaxy: requirements.yml

options:
  package_manager_path: /usr/bin/microdnf

additional_build_files:
  - src: /home/ali/code/mcp-builder # <FOR LOCAL DEVELOPMENT - local path to ansible.mcp-builder clone>
    dest: ansible.mcp_builder

additional_build_steps:
  prepend_galaxy: |
    COPY _build/ansible.mcp_builder /tmp/ansible.mcp_builder
  append_galaxy: |
    RUN rm -rf /tmp/ansible.mcp_builder
  append_final: |
    RUN ansible-playbook ansible.mcp_builder.install_mcp -e mcp_servers=github_mcp
