---
version: 3

images:
  base_image:
    name: registry.access.redhat.com/ubi9/python-311:latest
dependencies:
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
  galaxy: requirements.yml

options:
  package_manager_path: /usr/bin/dnf

additional_build_files:
  - src: /home/ali/code/mcp-builder # <FOR LOCAL DEVELOPMENT - local path to ansible.mcp-builder clone>
    dest: ansible.mcp_builder

additional_build_steps:
  prepend_galaxy: |
    COPY _build/ansible.mcp_builder /tmp/ansible.mcp_builder
  append_galaxy: |
    RUN rm -rf /tmp/ansible.mcp_builder
  append_final: |
    RUN ansible-playbook ansible.mcp_builder.install_mcp -e mcp_servers=github_mcp,aws_iam_mcp
