---
{% for registry in registries if registry.registry %}
- name: {{ registry.name }}
  servers:
  {% for server in registry.registry %}
    - repository:
        {% for key, value in server.items() %}
        {% if key == 'package' and value is string and value.startswith('@') %}
        {{ key }}: "{{ value }}"
        {% else %}
        {{ key }}: {{ value }}
        {% endif %}
        {% endfor %}
  {% endfor %}
{% endfor %}
