---
# Assign paths to server registry entries based on language type

- name: Build updated registry with paths assigned
  ansible.builtin.set_fact:
    common_updated_registries: []

- name: Add servers with paths to updated registry
  ansible.builtin.set_fact:
    common_updated_registries: "{{ common_updated_registries + [server_with_path] }}"
  vars:
    server_with_path: >-
      {%- if server_item.path is defined -%}
        {{ server_item }}
      {%- elif server_item.lang == 'npm' -%}
        {{ server_item | combine({'path': 'npx --prefix ' + common_mcp_base_path + '/npm_installs ' + server_item.name}) }}
      {%- elif server_item.lang == 'pypi' -%}
        {{ server_item | combine({'path': common_mcp_base_path + '/bin/' + server_item.name}) }}
      {%- elif server_item.lang == 'go' -%}
        {{ server_item | combine({'path': common_mcp_base_path + '/bin/' + server_item.name}) }}
      {%- else -%}
        {{ server_item }}
      {%- endif -%}
  loop: "{{ common_server_registries }}"
  loop_control:
    loop_var: server_item

- name: Replace server_registries with updated version
  ansible.builtin.set_fact:
    common_server_registries: "{{ common_updated_registries }}"
