---
- name: Generate portal template files
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    mcp_roles:
      - github_mcp

  tasks:
    - name: Load MCP roles to gain access to defaults
      ansible.builtin.include_role:
        name: "{{ item }}"
        tasks_from: noop # don't know why this doesn't do anything
        public: true
        apply:
          ignore_errors: true # there should be a better way of doing this
      loop: "{{ mcp_roles }}"

    - name: Zip registry with details
      ansible.builtin.set_fact:
        registries: >-
          {{ registries | default([]) | union([{
            'name': item,
            'registry': lookup('vars', item + '_registry') | zip(lookup('vars', item + '_build_details')),
          }]) }}
      loop: "{{ mcp_roles }}"

    - name: Create destination directories
      ansible.builtin.file:
        dest: "{{ lookup('env', 'PWD') }}/extensions/mcp/{{ item.name }}/template_rhdh/"
        state: directory
        mode: "0755"
      loop: "{{ registries }}"

    - name: Template each registry
      ansible.builtin.template:
        src: server.yaml.j2
        dest: "{{ lookup('env', 'PWD') }}/extensions/mcp/{{ item[0].name }}/template_rhdh/{{ item[1][0].name }}.yaml"
        mode: "0644"
        lstrip_blocks: true
      loop: "{{ registries|subelements('registry') }}"
