---
- name: Install and configure MCP Servers
  hosts: localhost
  connection: local
  gather_facts: false

  tasks:
    - name: Ensure base functionality
      ansible.builtin.include_role:
        name: ansible.mcp_builder.common

    - name: Parse mcp_servers input
      ansible.builtin.include_role:
        name: ansible.mcp_builder.common
        tasks_from: parse_mcp_servers

    - name: Install selected MCP providers
      ansible.builtin.include_role:
        name: "ansible.mcp_builder.{{ item }}"
      loop: "{{ common_mcp_roles }}"
      when: do_installation | default(true)
