---
name: Release

on:
  release:
    types: [published]
jobs:
  release_galaxy:
    uses: ansible/ansible-content-actions/.github/workflows/release_galaxy.yaml@main
    with:
      environment: release
    secrets:
      ansible_galaxy_api_key: ${{ secrets.ANSIBLE_GALAXY_API_KEY }}
  release_automation_hub:
    uses: ansible/ansible-content-actions/.github/workflows/release_ah.yaml@main
    with:
      environment: release
    secrets:
      ah_token: ${{ secrets.ANSIBLE_AUTOMATION_HUB_API_TOKEN}}
